<% provide(:title, "About me") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>About me</h1>
<p>
  <a href="https://ayupovfn.github.io/curriculum-vitae/">my cv</a>
</p>
</body>
</html>
